.container {
  background: green;
}

#logo {
  font-size: 30px;
}

#logo-img, #logo {
  vertical-align: middle;
  background-color: green;
}

.form {
  display: inline-block;
}


body {
  background-color: green;
}

h1 {
  color: black;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

#user {
  display: block;
  margin: 0 auto;
}

.navbar {
  background-color: white !important;
  text-align: center !important;
}

.navbar {
  border:1px solid #000 ;
  border-bottom: 1px solid #000;


}

#a {
  border: 1px solid: #555;
}

#logo-img {
  background-color: green
}

.panel {
  display: block;
  margin: 0 center;
}
